body {
  direction: rtl;
}

/* Carousel base class */
.carousel {
  height: 400px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

input.form-control
{
	width: 50%;
	margin-bottom: 5px;
}

select.form-control
{
	width: 50%;
	margin-bottom: 5px;
}

/* Sidebar navigation */
.sidebar
{
  float: right;
}

.customer-table
{
  float: right;
}

.symbol-table
{
  float: right;
}

.nav-sidebar {
  padding-right: 0;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.dashboard-sidebar
{
	display: none;
}

.symbol-table
{
	display: none;
}

.customer-table
{
	display: none;
}

#symbol-list
{
	float: right;
}

@media (min-width: 768px)
{
	.navbar-wrapper {
		  margin: 20px;
	}
}
