body {
  direction: rtl;
}

/* Carousel base class */
.carousel {
  height: 400px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

input.form-control
{
	width: 50%;
	margin-bottom: 5px;
}

select.form-control
{
	width: 50%;
	margin-bottom: 5px;
}

/* Sidebar navigation */
.sidebar
{
  float: right;
}

.customer-table
{
  float: right;
}

.symbol-table
{
  float: right;
}

.customer-share-table
{
	display: none;
}

.cashe-box
{
	display: none;
}

.btn-block
{
	width: 40%;
	float: center;
}

.sell-table
{
	display: none;
}

.buy-table
{
	display: none;
}

.symbol-table
{
	display: none;
}

.customer-table
{
	display: none;
}

.increase-cashe-table
{
	display: none;
}

#symbol-list
{
	float: right;
}

.request-item
{
	background-color: #2f2;
}

th
{
	text-align: center;
}
caption
{
	text-align: right;
}

@media (min-width: 768px)
{
	.navbar-wrapper
	{
		  margin: 20px;
	}
	
	.table-responsive
	{
		margin-left: 10%;
		margin-right: 10%;
	}

}
