<!DOCTYPE html>
<html ng-app="stock" lang="fa">
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>سامانه معاملات بورس و اوراق بهادارد</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/stock.css">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	</head>
	<body>
		<div class="navbar-wrapper">
			<nav class="navbar navbar-default navbar-inverse">
				<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="control-label">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						<img alt="Brand" src="../images/logo.ico">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">صفحه اصلی</a></li>
						<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">بخش کاربری <span class="caret"></span></a>
						  <ul class="dropdown-menu">
						    <li><a href="#">داشبورد</a></li>
								<li><a href="#">سرمایه گذاری</a></li>
								<li><a href="#">فروش سهام</a></li>
						    <li role="separator" class="divider"></li>
								<li><a data-toggle="modal" data-target="#signInModal" href="#signInModal">ورود</a></li>
								<li><a data-toggle="modal" data-target="#signUpModal" href="#signUpModal">ثبت نام</a></li>
						    <li><a href="#">خروج</a></li>
						  </ul>
						</li>
						<li><a href="#">وضعیت بازار</a></li>
						<li><a href="#showSymbols">مشاهده ی  لیست نماد ها</a></li>
						<li><a href="#">درباره ما</a></li>
						<li><a href="#">تماس با ما</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div>
		
		<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="../images/b1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>دسترسی سریع به وضعیت بازار</h1>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">وضعیت بازار را مشاهده کنید</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="../images/b2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>امکان ایجاد ناحیه ی کاربری و انجام معاملات</h1>
              <p><a class="btn btn-lg btn-primary" href="#signUpModal" role="button">اگر ثبت نام نکرده اید هم اکنون اقدام کنید</a></p>
            </div>
          </div>
        </div>
        <!--<div class="item">
          <img class="third-slide" src="???" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>-->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="control-label">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="control-label">Next</span>
      </a>
    </div><!-- /.carousel -->
    
    
		<h1>سامانه خرید و فروش بورس و اوراق بهادار</h1>

		<!-- Sign In Modal -->
		<div id="signInModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal">&times;</button>
				    <h4 class="modal-title">ورود کاربران</h4>
				  </div>
				  <div class="modal-body">
				    <form class="form-signin" ng-controller="FormController as signInCtrl" ng-submit="signInCtrl.signIn()" novalidate>
						  <h2 class="form-signin-heading">لطفا نام کاربری و رمز عبور خود را وارد کنید.</h2>
						  <label for="inputId" class="control-label">نام کاربری</label>
						  <input type="text" id="inputId" ng-model="signInCtrl.customer.id" class="form-control" placeholder="ID" required autofocus>
						  <label for="inputPassword" class="control-label">رمز عبور</label>
						  <input type="password" id="inputPassword" ng-model="signInCtrl.customer.password" class="form-control" placeholder="Password" required>
						  <div class="checkbox">
						    <label class="control-label">
						    	<input type="checkbox" value="remember-me">
						    	<p>  مرا به خاطر بسپار</p>
					    	</label>
						  </div>
						  <button class="btn btn-lg btn-primary btn-block" type="submit">ورود</button>
						</form>
				  </div>
				  <div class="modal-footer">
				  	<p>کاربر جدید هستید؟ همین الان
				  		<a data-toggle="modal" data-target="#signUpModal" href="#signUpModal">ثبت نام </a> کنید!
				  	</p>
				  </div>
				</div>
			</div>
		</div>
		
		<!-- Sign Up Modal -->
		<div id="signUpModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal">&times;</button>
				    <h4 class="modal-title">ثبت نام کاربران جدید</h4>
				  </div>
				  <div class="modal-body">
				    <form class="form-signin" method="GET" action="http://localhost:8080/stock/customer/add" target="temp-frame" novalidate>
						  <h2 class="form-signin-heading">اطلاعات زیر را وارد کنید.</h2>
						  <label for="inputId" class="control-label">نام کاربری</label>
						  <input name="id" type="text" id="inputId" class="form-control" placeholder="ID" required autofocus>
						  <label for="inputName" class="control-label">نام</label>
						  <input name="firstname" type="text" id="inputName" class="form-control" placeholder="First Name" required>
						  <label for="inputLastName" class="control-label">نام خانوادگی</label>
						  <input name="lastname" type="text" id="inputLastName" class="form-control" placeholder="Last Name" required>
						  <label for="inputPassword" class="control-label">رمز عبور</label>
						  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
						  <label for="inputConfirmPassword" class="control-label">تکرار رمز عبور</label>
						  <input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
						  <button type="submit" class="btn btn-lg btn-primary btn-block">ثبت نام</button>
						</form>
				  </div>
				</div>
			</div>
		</div>
		
		<div class="table-responsive col-md-6" ng-controller="StockController as stock">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>نام کاربری</th>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>سرمایه</th>
            <th>تعداد سهام ها</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in stock.users">
	          <td>{{user.id}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.depositedAmount}}</td>
            <td>{{user.shareList}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <!--ShowSymbols-->
    <!--<div id="showSymbols" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			    <h4 class="modal-title">لیست نماد ها</h4>
			  </div>
			  <div class="modal-body" ng-controller="StockController as symbolCtrl" ng-submit="symbolCtrl.showSymbols()">-->
			         <div id="showSymbols" class="container" ng-controller="StockController as symbolCtrl" ng-submit="symbolCtrl.showSymbols()">
					    <h2>Symbols</h2>

					    	<div ng-repeat="symbol in symbolCtrl.symbols">
						   <div class="row poll-item" ng-click="symbolCtrl.symbolClicked(symbol.id)">
							  <div class="col-xs-5" dir="rtl">
								 <h3>{{symbol.name}}</h3>
								 <h5>مشاهده ی مشخصات نماد</h5>
								 <table class="table table-striped" ng-show="symbolCtrl.isSelected(symbol.id)">
								    <thead>
									<tr>
									  <th>قیمت نماد</th>
									  <th>تعداد موجود از نماد</th>
									</tr>
								    </thead> 
								    <tbody>
									<tr>
									  <td>{{symbol.price}}</td>
									  <td>{{symbol.quantity}}</td>
									</tr>
								    </tbody>
								 </table>
								 <li ng-show="symbolCtrl.isSelected(symbol.id)"><a data-toggle="modal" data-target="#BuyModal" href="#BuyModal" >خرید نماد</a></li>
								 <li ng-show="symbolCtrl.isSelected(symbol.id)"><a data-toggle="modal" data-target="#SellModal" href="#SellModal" >فروش نماد</a></li>
							  </div>
							   
							<div class="col-xs-1 pull-right" ng-show="symbolCtrl.isSelected(symbol.id)">
							    <img src="../images/up.png" width="20px" ng-click="symbolCtrl.collapse($event)"/>
							</div>
					
						   </div>
						   <hr/>
						   
					    </div>
					</div>
					
			  <!--</div>
			</div>
		</div>
	</div>-->
    
    
    <div id="BuyModal" class="modal fade" role="dialog" ng-controller="StockController as buyCtrl">
		<div class="modal-dialog">
		    <div class="modal-content">
			  <div class="modal-header">
			   <button type="button" class="close" data-dismiss="modal">&times;</button>
			   <h4 class="modal-title">خرید نماد</h4>
			  </div>
			  
			  <div class="modal-body" style="padding: 30px">
			   <form name="buyForm" role="form" class="form-horizontal" novalidate>
				  <div class="form-group">
				      <label for="amount" class="control-label">مقدار نماد برای خرید</label>
				      <input type="text" 
				             name="amount" 
				             class="form-control" 
				             id="amount" 
				             ng-model="amount" 
				             placeholder="مقدار موردنظر" required/>
				  </div>
				  <div class="form-group">
				      <label for="id" class="control-label">شناسه ی کاربری</label>
				      <input type="text" 
				             name="id"
				             class="form-control" 
				             id="id" 
				             ng-model="id" 
				             placeholder="شناسه ی کاربری" required/>
			  	  </div>
			  </div>
			  <div class="modal-footer">
			   <button class="btn btn-success" type="submit" ng-click="buyForm.createRequest()">ثبت خرید</button>
			 </div>
			</div>
		</div>
	</div>
	<div id="SellModal" class="modal fade" role="dialog" ng-controller="CreateController as createCtrl">
		<div class="modal-dialog">
		    <div class="modal-content">
			  <div class="modal-header">
			   <button type="button" class="close" data-dismiss="modal">&times;</button>
			   <h4 class="modal-title">فروش نماد</h4>
			  </div>
			  
			  <div class="modal-body" style="padding: 30px">
			   <form name="sellForm" role="form" class="form-horizontal" novalidate>
				  <div class="form-group">
				      <label for="amount" class="control-label">مقدار نماد برای فروش</label>
				      <input type="text" 
				             name="amount" 
				             class="form-control" 
				             id="amount" 
				             ng-model="amount" 
				             placeholder="مقدار موردنظر" required/>
				  </div>
				  <div class="form-group">
				      <label for="price" class="control-label">قیمت نماد برای فروش</label>
				      <input type="text" 
				             name="price"
				             class="form-control" 
				             id="price" 
				             ng-model="price" 
				             placeholder="قیمت موردنظر" required/>
			  	  </div>
				  <div class="form-group">
				      <label for="id" class="control-label">شناسه ی کاربری</label>
				      <input type="text" 
				             name="id"
				             class="form-control" 
				             id="id" 
				             ng-model="id" 
				             placeholder="شناسه ی کاربری" required/>
			  	  </div>
			  </div>
			  <div class="modal-footer">
			   <button class="btn btn-success" type="submit" ng-click="sellForm.createRequest()">ثبت فروش</button>
			 </div>
			</div>
		</div>
	</div>

    
    
    
    <iframe name="temp-frame"></iframe>
    
		<form name="reviewForm" ng-controller="FormController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" > <!-- use novalidate -->
			<select ng-model="reviewCtrl.review.stars" required>
				<option value="1">1 star</option>
			</select>
			{{ reviewCtrl.review.author }}
			<textarea name="body" ng-model="reviewCtrl.review.body" required ></textarea>
			<label>by:</label>
			<input name="author" ng-model="reviewCtrl.review.author" type="email" required />
			<div> reviewForm is {{reviewForm.$valid}} </div>
			<input type="submit" value="Submit" />
		</form>
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	  <script src="../lib/jquery.min.js"></script>
	  <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="../lib/angular.min.js"></script>
		<script type="text/javascript" src="../lib/angular-messages.min.js"></script>
		<script type="text/javascript" src="../js/arghyApp.js"></script>
	</body>
</html>
