<!DOCTYPE html>
<html ng-app="stock" lang="fa">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>سامانه معاملات بورس و اوراق بهادارد</title>
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/stock.css">
		<!-- Favicon -->
		<link rel="icon" type="image/x-icon" href="../images/favicon.ico">
		<script type="text/javascript" src="../js/actions.js"></script>
	</head>
	<body ng-controller="StockController as stockCtrl">
		<div class="navbar-wrapper">
			<nav class="navbar navbar-default navbar-inverse">
				<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
						<!--
						<span class="control-label">Toggle navigation</span>
						-->
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						<img alt="Brand" src="../images/logo.ico">
					</a>
					<div class="nav navbar-nav navbar-brand">
            <a href="#">سلام {{stockCtrl.currentUser.firstname}}</a>
          </div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbar-collapse-1">
				
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#" onclick="showHome()">صفحه اصلی</a></li>
						<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">بخش کاربری <span class="caret"></span></a>
						  <ul class="dropdown-menu">
						    <li><a href="#" onclick="showDashboard()">داشبورد</a></li>
								<li><a data-toggle="modal" data-target="#buyModal" href="#buyModal">خرید سهام</a></li>
								<li><a data-toggle="modal" data-target="#sellModal" href="#sellModal">فروش سهام</a></li>
						    <li role="separator" class="divider"></li>
								<li><a data-toggle="modal" data-target="#signInModal" href="#signInModal">ورود</a></li>
								<li><a data-toggle="modal" data-target="#signUpModal" href="#signUpModal">ثبت نام</a></li>
						    <li><a href="#">خروج</a></li>
						  </ul>
						</li>
						<li><a href="#" onclick="showStatus()">وضعیت بازار</a></li>
						<li><a href="#">درباره ما</a></li>
						<li><a href="#">تماس با ما</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div>
		
		<!-- Carousel
    ================================================== -->
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
        <li data-target="#homeCarousel" data-slide-to="2"></li>
        <li data-target="#homeCarousel" data-slide-to="3"></li>
        <li data-target="#homeCarousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
      
        <div class="item active">
          <img class="first-slide" src="../images/b1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>دسترسی سریع به وضعیت بازار</h1>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">وضعیت بازار را مشاهده کنید</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="../images/b2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>امکان ایجاد ناحیه ی کاربری و انجام معاملات</h1>
              <p><a class="btn btn-lg btn-primary" data-toggle="modal" data-target="#signUpModal" href="#signUpModal" role="button">اگر ثبت نام نکرده اید هم اکنون اقدام کنید</a></p>
            </div>
          </div>
        </div>
        
        <div class="item">
          <img class="third-slide" src="../images/carousel.gif" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>GitHub</h1>
              <p>Since this project, we have started using GitHub</p>
              <p><a class="btn btn-lg btn-primary" href="https://github.com/" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="fourth-slide" src="../images/carousel.gif" alt="Fourth slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Angular.JS</h1>
              <p>Angular.JS helps you to improve your application</p>
              <p>CodeSchool has good courses of it</p>
              <p><a class="btn btn-lg btn-primary" href="https://www.codeschool.com/courses/shaping-up-with-angular-js" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="fifth-slide" src="../images/carousel.gif" alt="Fifth slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Maven, A good tool for MVC</h1>
              <p>If you are looking for auromatization, Maven could helps you to be free of doing silly tasks</p>
              <p><a class="btn btn-lg btn-primary" href="https://maven.apache.org/" role="button">Run & Enjoy</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="control-label">Previous</span>
      </a>
      <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="control-label">Next</span>
      </a>
    </div>
    <!-- /.carousel -->
    
		<!-- Sign In Modal -->
		<div id="signInModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal">&times;</button>
				    <h4 class="modal-title">ورود کاربران</h4>
				  </div>
				  <div class="modal-body">
				    <form class="form-signin" ng-submit="stockCtrl.signIn()">
						  <h2 class="form-signin-heading">لطفا نام کاربری و رمز عبور خود را وارد کنید.</h2>
						  <label for="inputUsername" class="control-label">نام کاربری</label>
						  <input type="text" id="inputUsername" ng-model="stockCtrl.currentUser.username" class="form-control" placeholder="Username" required autofocus>
						  <label for="inputPassword" class="control-label">گذرواژه</label>
						  <input type="password" id="inputPassword" ng-model="stockCtrl.currentUser.password" class="form-control" placeholder="Password" required>
						  <div class="checkbox">
						    <label class="control-label">
						    	<input type="checkbox" value="remember-me">
						    	<p>  مرا به خاطر بسپار</p>
					    	</label>
						  </div>
						  <button class="btn btn-lg btn-primary btn-block" type="submit">ورود</button>
						</form>
				  </div>
				  <div class="modal-footer">
				  	<div id="signInModalError" class="text-warning">
				  	</div>
				  	<p>کاربر جدید هستید؟ همین الان
				  		<a data-toggle="modal" data-target="#signUpModal" href="#signUpModal">ثبت نام </a> کنید!
				  	</p>
				  </div>
				</div>
			</div>
		</div>
		<!-- / Sign In Modal -->
		
		<!-- Sign Up Modal -->
		<div id="signUpModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal">&times;</button>
				    <h4 class="modal-title">ثبت نام کاربران جدید</h4>
				  </div>
				  <div class="modal-body">
				    <form class="form-signin" ng-submit="stockCtrl.signUp()" novalidate>
						  <h2 class="form-signin-heading">اطلاعات زیر را وارد کنید.</h2>
						  <label for="inputUsername" class="control-label">نام کاربری</label>
						  <input name="id" type="text" id="inputUsername" ng-model="stockCtrl.newUser.username" class="form-control" placeholder="Username" required autofocus>
						  <label for="inputName" class="control-label">نام</label>
						  <input name="firstname" type="text" id="inputName" ng-model="stockCtrl.newUser.firstname" class="form-control" placeholder="First Name" required>
						  <label for="inputLastName" class="control-label">نام خانوادگی</label>
						  <input name="lastname" type="text" id="inputLastName" ng-model="stockCtrl.newUser.lastname" class="form-control" placeholder="Last Name" required>
						  <label for="inputPassword" class="control-label">گذرواژه</label>
						  <input type="password" id="inputPassword" ng-model="stockCtrl.newUser.password" class="form-control" placeholder="Password" required>
						  <label for="inputConfirmPassword" class="control-label">تکرار گذرواژه</label>
						  <input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
						  <button type="submit" class="btn btn-lg btn-primary btn-block">ثبت نام</button>
						</form>
				  </div>
				  <div class="modal-footer">
				  	<div id="signUpModalError" class="text-warning">
				  	</div>
				  </div>
				</div>
			</div>
		</div>
		<!-- / Sign Up Modal -->
		
		<!-- Sell Modal -->
		<div id="sellModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">فروش سهام</h4>
					</div>
					<div class="modal-body">
						<form class="form-sell" ng-submit="stockCtrl.sell()" novalidate>
							<h2 class="form-sell-heading">اطلاعات زیر را وارد کنید.</h2>
							<label for="symbolId" class="control-label">نام سهام</label>
							<select name="symbolId" class="form-control" ng-model="stockCtrl.sellRequest.symbolId">
								<!--
								<option ng-repeat="symbol in stockCtrl.currentUser.shareList" value="{{symbol.id}}">{{symbol.name}}</option>
								-->
								<option ng-repeat="symbol in stockCtrl.symbols" value="{{symbol.id}}">{{symbol.name}}</option>
							</select>
							<label for="inputQuantity" class="control-label">تعداد سهم</label>
							<input name="quantity" type="text" id="inputQuantity" ng-model="stockCtrl.sellRequest.quantity" class="form-control" placeholder="Quantity" required autofocus>
							<label for="inputPrice" class="control-label">قیمت</label>
							<input name="price" type="text" id="inputPrice" ng-model="stockCtrl.sellRequest.price" class="form-control" placeholder="Price" required autofocus>
							<label for="symbolName" class="control-label">نوع فروش</label>
							<select name="type" class="form-control" ng-model="stockCtrl.sellRequest.type">
								<option ng-repeat="type in stockCtrl.types" value="{{type}}">{{symbol}}</option>
							</select>
							<button type="submit" class="btn btn-lg btn-primary btn-block">فروش</button>
						</form>
					</div>
					<div class="modal-footer">
						<div id="sellModalError" class="text-warning">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- / Sell Modal -->

		
		<!-- Buy Modal -->
		<div id="buyModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">خرید سهام</h4>
					</div>
					<div class="modal-body">
						<form class="form-buy" ng-submit="stockCtrl.buy()" novalidate>
							<h2 class="form-buy-heading">اطلاعات زیر را وارد کنید.</h2>
							<label for="symbolId" class="control-label">نام سهام</label>
							<select name="symbolId" class="form-control" ng-model="stockCtrl.buyRequest.symbolId">
								<option ng-repeat="symbol in stockCtrl.symbols" value="{{symbol.id}}">{{symbol.name}}</option>
							</select>
							<label for="inputQuantity" class="control-label">تعداد سهم</label>
							<input name="quantity" type="text" id="inputQuantity" ng-model="stockCtrl.buyRequest.quantity" class="form-control" placeholder="Quantity" required autofocus>
							<label for="inputPrice" class="control-label">قیمت</label>
							<input name="price" type="text" id="inputPrice" ng-model="stockCtrl.buyRequest.price" class="form-control" placeholder="Price" required autofocus>
							<label for="symbolName" class="control-label">نوع خرید</label>
							<select name="type" class="form-control" ng-model="stockCtrl.buyRequest.type">
								<option ng-repeat="type in stockCtrl.types" value="{{type}}">{{symbol}}</option>
							</select>
							<button type="submit" class="btn btn-lg btn-primary btn-block">خرید</button>
						</form>
					</div>
					<div class="modal-footer">
						<div id="buyModalError" class="text-warning">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- / Buy Modal -->
		
		<!-- Increase Cashe Modal -->
		<div id="increaseCasheModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">افزایش اعتبار</h4>
					</div>
					<div class="modal-body">
						<form class="form-increase-cashe" ng-submit="stockCtrl.increaseCashe()" novalidate>
							<h2 class="form-increase-cashe-heading">اطلاعات زیر را وارد کنید.</h2>
							<label for="cashe" class="control-label">مبلغ درخواستی</label>
							<input name="cashe" type="text" id="inputcashe" ng-model="stockCtrl.increaseCasheRequest.money" class="form-control" placeholder="Cashe" required autofocus>
							<button type="submit" class="btn btn-lg btn-primary btn-block">فروش</button>
						</form>
					</div>
					<div class="modal-footer">
						<div id="increaseCasheError" class="text-warning">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- / Sell Modal -->
		
		<!-- Dashboard Sidebar -->
		<div id="#sid" class="dashboard-sidebar">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="active"><a href="#">داشبورد <span class="sr-only">(current)</span></a></li>
					<li><a href="#">اطلاعات کاربری</a></li>
					<li><a data-toggle="modal" data-target="#buyModal" href="#buyModal">خرید سهام</a></li>
					<li><a data-toggle="modal" data-target="#sellModal" href="#sellModal">فروش سهام</a></li>
				</ul>
			</div>
        </div>
        <!-- /Dashboard Sidebar -->
        
        <!-- Cashe Box -->
        <div class="cashe-box">
        	<h2>موجودی حساب</h2>
        	<h3>{{stockCtrl.currentUser.depositedAmount}} $</h3>
        	<button><a data-toggle="modal" data-target="#increaseCasheModal" href="#increaseCasheModal">افزایش اعتبار</a></button>
        </div>
        <!-- /Cashe Box -->
        
        <!-- Dashboard Body Container -->
        <div class="dashboard-body-container">
        	<!-- Customer-Share Table -->
        	<div class="table-responsive col-md-6 customer-share-table">
        		<table class="table table-striped">
					<caption>سهام های شما</caption>
					<thead>
						<tr>
							<th>کد سهام</th>
							<th>نام سهام</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="symbol in stockCtrl.currentUser.shareList">
							<td>{{symbol.id}}</td>
							<td>{{symbol.name}}</td>
							<td>
						</tr>
					</tbody>
				</table>
        	</div>
        	<!-- /Customer-Share Table -->
        	
        	<!-- Sell-Buy Table -->
			<div class="table-responsive col-md-6 sell-buy-table">
				<caption><p>لیست معاملات شما</p></caption>
				<table class="table table-striped">
					<caption>صف خرید</caption>
					<thead>
						<tr>
							<th>کد سهام</th>
							<th>نام سهام</th>
							<th>تعداد</th>
							<th>قیمت</th>
							<th>نوع</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="request in stockCtrl.currentUser.buyList">
							<td>{{request.symbolId}}</td>
							<td>{{stockCtrl.symbols[request.symbolId].name}}</td>
							<td>{{request.quantity}}</td>
							<td>{{request.price}}</td>
							<td>{{request.type.name}}</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-striped">
					<caption>صف فروش</caption>
					<thead>
						<tr>
							<th>کد سهام</th>
							<th>نام سهام</th>
							<th>تعداد</th>
							<th>قیمت</th>
							<th>نوع</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="request in stockCtrl.currentUser.sellList">
							<td>{{request.symbolId}}</td>
							<td>{{stockCtrl.symbols[request.symbolId].name}}</td>
							<td>{{request.quantity}}</td>
							<td>{{request.price}}</td>
							<td>{{request.type.name}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /Dashboard Body Container -->
		
			<!-- Customers Table -->
			<div class="table-responsive col-md-6 customer-table">
				<table class="table table-striped">
					<caption>لیست کاربران سامانه</caption>
					<thead>
						<tr>
							<th>نام کاربری</th>
							<th>نام</th>
							<th>نام خانوادگی</th>
							<th>سرمایه</th>
							<th>تعداد سهام ها</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in stockCtrl.users">
							<td>{{user.username}}</td>
							<td>{{user.firstname}}</td>
							<td>{{user.lastname}}</td>
							<td>{{user.depositedAmount}}</td>
							<td>{{user.shareList}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- / Customers Table -->
        </div>
		
		<!-- Symbols Table -->
		<div class="table-responsive col-md-6 symbol-table">
			<button><a data-toggle="modal" data-target="#addSymbolModal" href="#addSymbolModal">add symbol</a></button>
			<table class="table table-striped">
				<caption>لیست نمادهای سامانه</caption>
				<thead>
					<tr>
						<th>شماره</th>
						<th>نام نماد</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="symbol in stockCtrl.symbols">
						<td>{{symbol.id}}</td>
						<td>{{symbol.name}}</td>
						<td>
							<table class="table table-striped">
							<thead>
								<tr>
									<th>صف خرید</th>
									<th>صف فروش</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
									<table class="table table-striped">
											<thead>
												<tr>
													<th>کد خریدار</th>
													<th>تعداد</th>
													<th>قیمت</th>
													<th>نوع</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="request in symbol.buyList">
													<td>{{request.customerId}}</td>
													<td>{{request.quantity}}</td>
													<td>{{request.price}}</td>
													<td>{{request.type.name}}</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<table class="table table-striped">
											<thead>
												<tr>
													<th>کد فروشنده</th>
													<th>تعداد</th>
													<th>قیمت</th>
													<th>نوع</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="request in symbol.sellList">
													<td>{{request.customerId}}</td>
													<td>{{request.quantity}}</td>
													<td>{{request.price}}</td>
													<td>{{request.type.name}}</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- / Symbols Table -->
    
		<!-- / Add Symbol Modal -->
		
		<div id="addSymbolModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">تعریف نماد جدید</h4>
					</div>
					<div class="modal-body">
						<form class="form-add-symbol" ng-submit="stockCtrl.addSymbol()">
							<h2 class="form-add-symbol-heading">اطلاعات خواسته شده را وارد نمایید.</h2>
							<label for="inputName" class="control-label">نام نماد</label>
							<input type="text" id="inputName" ng-model="stockCtrl.newSymbol.name" class="form-control" placeholder="Name" required autofocus>
							<button class="btn btn-lg btn-primary btn-block" type="submit">افزودن</button>
						</form>
					</div>
					<div class="modal-footer">
						<div id="addSymbolModalError" class="text-warning">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- / Add Symbol Modal -->
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="../lib/jquery.min.js"></script>
		<script type="text/javascript" src="../lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="../lib/angular.min.js"></script>
		<script type="text/javascript" src="../lib/angular-messages.min.js"></script>
		<script type="text/javascript" src="../js/app.js"></script>
	</body>
</html>
